@{
    Layout = null;
}
@model WebUI.Models.SignInViewModel
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@ViewData["Title"] - onlineStore</title>
    <link href="~/css/signin.css" rel="stylesheet">
    <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.min.css" />
</head>
<body>
        <main class="form-signin">

            <form asp-action="Login" asp-controller="Account" asp-anti-forgery="true">
                <h1 class="h3 mb-3 fw-normal">Вход на сайт</h1>
                <input type="email" asp-for="Email" class="form-control" placeholder="name@example.com">
                <span asp-validation-for="Email"></span>
                <input asp-for="Password" type="password" class="form-control" placeholder="Password">
                <span asp-validation-for="Password"></span>
                <div class="field-validation-error" asp-validation-summary="ModelOnly"></div>
                <div class="form-signin">
                    <label>
                        <input type="checkbox" value="remember-me"> Remember me
                    </label>
                </div>
                <button class="w-100 btn btn-lg btn-primary" type="submit">Sign in</button>
                <a asp-action="Register" asp-controller="Account">Регистрация</a>
                <p class="mt-5 mb-3 text-muted">&copy; 2021</p>
            </form>
    </main>
</body>
</html>
