@{
    Layout = null;
}
@model WebUI.Models.RegisterModel
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@ViewData["Title"] - onlineStore</title>
    <link href="~/css/signin.css" rel="stylesheet">
    <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.min.css" />
    <link href="~/css/errorStyle.css" rel="stylesheet" />
</head>

<body>
    <main class="form-signin">

        <h1 class="h3 mb-3 fw-normal">Регистрация</h1>
        <form asp-action="Register" asp-controller="Account" asp-anti-forgery="true">
            <div>
                <div>
                    <span asp-validation-for="FirstName"></span>
                    <input type="text" asp-for="FirstName" class="form-control" FirstName"" />                 
                    <label asp-for="FirstName">Введите имя</label><br />
                </div>
                <div>
                    <span asp-validation-for="LastName"></span>
                    <input type="text" asp-for="LastName" class="form-control" />
                    <label asp-for="LastName">Введите фамилию</label><br />
                </div>
                <div>
                    <span asp-validation-for="ContactPhone"></span>
                    <input type="text" asp-for="ContactPhone" class="form-control" />
                    <label asp-for="ContactPhone">Введите телефон</label><br />
                </div>
                <div>
                    <span asp-validation-for="Email"></span>
                    <input type="text" asp-for="Email" class="form-control" />
                    <label asp-for="Email">Введите Email</label><br />
                </div>
                <div>
                    <span asp-validation-for="Hash"></span>
                    <input asp-for="Hash" class="form-control" />
                    <label asp-for="Hash">Введите пароль</label><br />
                </div>
                <div>
                    <span asp-validation-for="ConfirmPassword"></span>
                    <input asp-for="ConfirmPassword" class="form-control" />
                    <label asp-for="ConfirmPassword">Повторите пароль</label><br />
                </div>
                <div>
                    <input class="w-100 btn btn-lg btn-primary" type="submit" value="Регистрация" />
                </div>
            </div>
        </form>
        </main>
</body>
</html>