
@{
    ViewBag.Title = "OnlineStore: Заказ оформлен";
}
<div class="alert alert-success" role="alert">
    <h4 class="alert-heading">Вы оформли заказ!</h4>
    <p>Вы успешно оформили заказ. Спасибо что выбрали нашу компанию. Если вы допустили ошибку в оформлении свяжитесь с менеджером</p>
    <hr>
    <p class="mb-0">Если необходимо, можете <a class="alert-link" asp-controller="Home" asp-action="Catalog">продолжить покупки</a>.</p>
</div>