@model IEnumerable<Domain.Entities.CategoryOfProduct> 
@{
    @if (User.Claims.ToList().Find(m => m.Value == "Admin") != null )
    {
        Layout = "_AdminLayout";
    }
    ViewData["Title"] = "Список товаров";
}
<h2>Прайс-лист</h2>
<div class="row row-cols-4">
    @foreach (var categoryOfProduct in Model)
    {
        <div class="col-3 mt-3">
            <div class="card w-100 h-100">
                <img src=@categoryOfProduct.ImagePath class="card-img-top" alt=".png">
                <div class="card-body">
                    <h5 class="card-title">@categoryOfProduct.Name</h5>
                    <p class="card-text">О товаре.</p>
                    <ul class="list-group list-group-flush">
                        @foreach (var typeOfProduct in categoryOfProduct.TypeOfProducts)
                        {
                            <li class="list-group-item">
                                <a asp-controller="Home" asp-action="ProductList" asp-route-id="@typeOfProduct.Id" class="card-link">@typeOfProduct.Name</a>
                            </li>
                        }
                    </ul>
                </div>
            </div>
        </div>
    }
</div>